a {
    color: rgb(1, 1, 34);
}
a:hover{
    color: rgb(1, 1, 34);
    background-color: unset;
}
.signout{
    color: rgb(1, 1, 34);
}
.head{
    background-color: whitesmoke;
    border-bottom: 1px dotted rgb(1, 1, 34);
}
.bottom{
    border-top: 1px dotted rgb(1, 1, 34);
    background-color: whitesmoke;
}
.prog_cont, .e_prog_cont {
    border: 1px solid rgb(1, 1, 34);
}
.welcome{
    color: rgb(1, 1, 34);
    background-color: whitesmoke;
}
.del, .del1{
    color: red;
    text-decoration: none;
}
.res{
    color: rgb(2, 167, 2);
}
body {
    /* background-image: url('../images/1.jpg'); */
    background-color: white;
    color: rgb(1, 1, 34);
}
[type=file] {
    border: 1px solid rgb(1, 1, 34)!important;
}
.btn1 {
    background-color: rgb(1, 1, 34);
    color: white;
}
.input2 {
    background-color: transparent;
    border: 1px solid rgb(1, 1, 34);
}
.post_input{
    color: rgb(1, 1, 34);
}
.footer1{
    background-color: rgb(1, 1, 34);
    color: white;
}
.input_group {
    background-color: white;
    border:2px solid rgb(1, 1, 34)
}
.fscreen {
    background-color: white;
}
.n_event input, .n_event textarea, .e_event input, .e_event textarea {
    border: 1px solid rgb(1, 1, 34);
}
.preview {
    border: 1px dotted rgb(1, 1, 34);
}
.event {
    border: 1px solid rgb(1, 1, 34);
    background-color: whitesmoke;
}
.form_div button {
    background-color: rgb(1, 1, 34);
    color: white;
}
.event_file *{
    border: 2px dotted rgb(1, 1, 34);
}
.container {
    border: 1px solid rgb(1, 1, 34);
}
.msg_box{
    color: rgb(1, 1, 34);
    background-color: white;
    border: 1px dotted rgb(1, 1, 34);
}
.top_act .icon:hover, .top_act a:hover {
    border-bottom: 1px dotted rgb(1, 1, 34);
}
.size {
    background-color: rgb(1, 1, 34);
    color: white;
}
#size_cont {
    border: 1px solid rgb(1, 1, 34);
}
::-webkit-scrollbar-thumb {
    background: rgb(1, 1, 34);
    border-radius: 100rem;
}
::-webkit-scrollbar-track {
    background: white;
}
